# Object files
*.o

# Backups
*~

# Mac OS X metadata
*.DS_Store

# IDE project and intermediate files
.idea/
BasiliskII/src/Windows/x64/
SheepShaver/src/Windows/x64/
CMakeLists.txt
cmake-build-debug/

# Python build script files
SheepShaver/src/Windows/downloads/
SheepShaver/src/Windows/build_on_msys.cache.json

# Symlinks/copies created by make links
SheepShaver/src/adb.cpp
SheepShaver/src/audio.cpp
SheepShaver/src/cdrom.cpp
SheepShaver/src/disk.cpp
SheepShaver/src/extfs.cpp
SheepShaver/src/pict.c
SheepShaver/src/prefs.cpp
SheepShaver/src/scsi.cpp
SheepShaver/src/sony.cpp
SheepShaver/src/xpram.cpp
SheepShaver/src/include/adb.h
SheepShaver/src/include/audio.h
SheepShaver/src/include/audio_defs.h
SheepShaver/src/include/cdrom.h
SheepShaver/src/include/clip.h
SheepShaver/src/include/debug.h
SheepShaver/src/include/disk.h
SheepShaver/src/include/extfs.h
SheepShaver/src/include/extfs_defs.h
SheepShaver/src/include/pict.h
SheepShaver/src/include/prefs.h
SheepShaver/src/include/scsi.h
SheepShaver/src/include/serial.h
SheepShaver/src/include/serial_defs.h
SheepShaver/src/include/sony.h
SheepShaver/src/include/sys.h
SheepShaver/src/include/timer.h
SheepShaver/src/include/xpram.h
SheepShaver/src/BeOS/audio_beos.cpp
SheepShaver/src/BeOS/extfs_beos.cpp
SheepShaver/src/BeOS/scsi_beos.cpp
SheepShaver/src/BeOS/serial_beos.cpp
SheepShaver/src/BeOS/sys_beos.cpp
SheepShaver/src/BeOS/timer_beos.cpp
SheepShaver/src/BeOS/xpram_beos.cpp
SheepShaver/src/BeOS/SheepDriver
SheepShaver/src/BeOS/SheepNet
SheepShaver/src/CrossPlatform/sigsegv.h
SheepShaver/src/CrossPlatform/sigsegv.cpp
SheepShaver/src/CrossPlatform/vm_alloc.h
SheepShaver/src/CrossPlatform/vm_alloc.cpp
SheepShaver/src/CrossPlatform/video_vosf.h
SheepShaver/src/CrossPlatform/video_blit.h
SheepShaver/src/CrossPlatform/video_blit.cpp
SheepShaver/src/Unix/audio_oss_esd.cpp
SheepShaver/src/Unix/bincue_unix.cpp
SheepShaver/src/Unix/bincue_unix.h
SheepShaver/src/Unix/vhd_unix.cpp
SheepShaver/src/Unix/extfs_unix.cpp
SheepShaver/src/Unix/serial_unix.cpp
SheepShaver/src/Unix/sshpty.h
SheepShaver/src/Unix/sshpty.c
SheepShaver/src/Unix/strlcpy.h
SheepShaver/src/Unix/strlcpy.c
SheepShaver/src/Unix/sys_unix.cpp
SheepShaver/src/Unix/timer_unix.cpp
SheepShaver/src/Unix/xpram_unix.cpp
SheepShaver/src/Unix/semaphore.h
SheepShaver/src/Unix/posix_sem.cpp
SheepShaver/src/Unix/config.sub
SheepShaver/src/Unix/config.guess
SheepShaver/src/Unix/m4
SheepShaver/src/Unix/keycodes
SheepShaver/src/Unix/tunconfig
SheepShaver/src/Unix/clip_unix.cpp
SheepShaver/src/Unix/Irix/audio_irix.cpp
SheepShaver/src/Unix/Linux/scsi_linux.cpp
SheepShaver/src/Unix/Linux/NetDriver
SheepShaver/src/Unix/ether_unix.cpp
SheepShaver/src/Unix/rpc.h
SheepShaver/src/Unix/rpc_unix.cpp
SheepShaver/src/Unix/ldscripts
SheepShaver/src/Unix/tinyxml2.h
SheepShaver/src/Unix/tinyxml2.cpp
SheepShaver/src/Unix/disk_unix.h
SheepShaver/src/Unix/disk_sparsebundle.cpp
SheepShaver/src/Unix/Darwin/mkstandalone
SheepShaver/src/Unix/Darwin/lowmem.c
SheepShaver/src/Unix/Darwin/pagezero.c
SheepShaver/src/Unix/Darwin/testlmem.sh
SheepShaver/src/dummy/audio_dummy.cpp
SheepShaver/src/dummy/clip_dummy.cpp
SheepShaver/src/dummy/serial_dummy.cpp
SheepShaver/src/dummy/prefs_editor_dummy.cpp
SheepShaver/src/dummy/scsi_dummy.cpp
SheepShaver/src/SDL
SheepShaver/src/slirp
SheepShaver/src/MacOSX/sys_darwin.cpp
SheepShaver/src/MacOSX/clip_macosx.cpp
SheepShaver/src/MacOSX/clip_macosx64.mm
SheepShaver/src/MacOSX/macos_util_macosx.h
SheepShaver/src/Unix/cpr.sh
SheepShaver/src/MacOSX/extfs_macosx.cpp
SheepShaver/src/Windows/clip_windows.cpp
SheepShaver/src/MacOSX/MacOSX_sound_if.cpp
SheepShaver/src/MacOSX/MacOSX_sound_if.h
SheepShaver/src/MacOSX/AudioBackEnd.cpp
SheepShaver/src/MacOSX/AudioBackEnd.h
SheepShaver/src/MacOSX/AudioDevice.cpp
SheepShaver/src/MacOSX/AudioDevice.h
SheepShaver/src/MacOSX/audio_macosx.cpp
SheepShaver/src/MacOSX/utils_macosx.mm
SheepShaver/src/MacOSX/utils_macosx.h
SheepShaver/src/Windows/cd_defs.h
SheepShaver/src/Windows/cdenable
SheepShaver/src/Windows/extfs_windows.cpp
SheepShaver/src/Windows/posix_emu.cpp
SheepShaver/src/Windows/posix_emu.h
SheepShaver/src/Windows/sys_windows.cpp
SheepShaver/src/Windows/timer_windows.cpp
SheepShaver/src/Windows/util_windows.cpp
SheepShaver/src/Windows/util_windows.h
SheepShaver/src/Windows/xpram_windows.cpp
SheepShaver/src/Windows/kernel_windows.h
SheepShaver/src/Windows/kernel_windows.cpp
SheepShaver/src/Windows/serial_windows.cpp
SheepShaver/src/Windows/router
SheepShaver/src/Windows/b2ether
SheepShaver/src/Windows/ether_windows.h
SheepShaver/src/Windows/ether_windows.cpp
SheepShaver/src/Windows/serial_windows.cpp
SheepShaver/src/Windows/prefs_editor_gtk.cpp
SheepShaver/src/uae_cpu/compiler/codegen_x86.h
SheepShaver/src/kpx_cpu/src/cpu/jit/x86/codegen_x86.h
SheepShaver/src/Windows/video_blit.cpp
SheepShaver/src/Windows/video_blit.h
SheepShaver/src/Windows/video_vosf.h
SheepShaver/src/Windows/sigsegv.cpp
SheepShaver/src/Windows/sigsegv.h
SheepShaver/src/Windows/vm_alloc.cpp
SheepShaver/src/Windows/vm_alloc.h
SheepShaver/src/Windows/m4/

# autotools & make intermediate and output files
SheepShaver/src/Windows/aclocal.m4
SheepShaver/src/Windows/autom4te.cache/
SheepShaver/src/Windows/config.h.in
SheepShaver/src/Windows/configure
SheepShaver/src/Windows/config.log
SheepShaver/src/Windows/config.status
SheepShaver/src/Windows/config.h
SheepShaver/src/Windows/Makefile
SheepShaver/src/Windows/obj/
SheepShaver/src/Windows/SheepShaver.exe

# additions below