#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_NETWORK
#define VER_FILEDESCRIPTION_STR     "Basilisk II Protocol Driver"
#define VER_INTERNALNAME_STR        "B2ETHER.SYS"
#define VER_ORIGINALFILENAME_STR    "B2ETHER.SYS"

#include "common.ver"
